<div class="header-component">
  <div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
      <a class="navbar-brand" [routerLink]="['/main']" >Nutrition Control</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-right-top">
          <li class="nav-item">
            <a class="nav-link pointer" [routerLink]="['/admin-panel']" routerLinkActive="router-link-active">
              Adminka
            </a>
          </li>
          <li *ngIf="!isLoggedIn()" class="nav-item">
            <a class="nav-link pointer" [routerLink]="['/auth/login']" routerLinkActive="router-link-active">
              Login
            </a>
          </li>
          <li *ngIf="!isLoggedIn()" class="nav-item">
            <a class="nav-link pointer" [routerLink]="['/auth/register']" routerLinkActive="router-link-active">
              Register
            </a>
          </li>          
          <li *ngIf="isLoggedIn()" class="nav-item dropdown nav-user pointer">
            <div ngbDropdown placement="bottom-right">
              <a class="nav-link nav-user-img" id="dropdownBasic1" ngbDropdownToggle><img src="assets/img/usr.jpg" alt=""
                  class="user-avatar-md rounded-circle"></a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="nav-user-info dropdown-menu-right ">
                <app-user-navbar></app-user-navbar>
              </div>
            </div>
          </li>
          <li *ngIf="isLoggedIn()" class="nav-item">            
            <a class="nav-link pointer" (click)='onLogout()'>
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>