<div class="container">
  <div class="tab-regular">
    <ngb-tabset  [destroyOnHide]="false">
      <ngb-tab title="Personal">
        <ng-template ngbTabContent>
         <app-personal-profile [profile]="profile" [cancelCallback]="cancelCallback"></app-personal-profile>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Physical">
        <ng-template ngbTabContent>
          <app-physical-profile [profile]="profile" [cancelCallback]="cancelCallback"></app-physical-profile>
        </ng-template>
      </ngb-tab>
      <!-- <ngb-tab title="Gallery">
        <ng-template ngbTabContent>
          <app-profile-gallery></app-profile-gallery>
        </ng-template>
      </ngb-tab> -->
    </ngb-tabset>    
  </div>  
</div>