<div class="dashboard-main-wrapper">
  
  <app-header></app-header>

  <header class="masthead text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5 text-white">
            Good nutrition is an important part of leading a healthy lifestyle, and your food choices each day affect your health.
          </h1>
        </div>        
      </div>
    </div>
  </header>

  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fab fa-nutritionix m-auto"></i>
            </div>
            <h3>Calculators</h3>
            <p class="lead mb-0">What's your ideal weight? Learn how many calories you need, how much your BMI matters, and more..</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-concierge-bell m-auto"></i>
            </div>
            <h3>Recipes</h3>
            <p class="lead mb-0">We have recipes for every craving including leftover rotisserie chicken dinners, 
              sheet pan meals, and amazing comfort foods like mac 'n' cheese. </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-chart-pie m-auto"></i>
            </div>
            <h3>Food diary</h3>
            <p class="lead mb-0">Wondering how much of protein, fats and carbohydrates you should eat? 
              You can be healthy and happy by eating well.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="showcase bg-light">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" 
        style="background-image: url('../../../../../assets/img/1_welcome_img.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Understanding Macronutrients</h2>
          <p class="lead mb-0">
            The three macronutrients are carbohydrates (carbs), fats and protein.
            These nutrients are needed in relatively large amounts. They provide calories and have various functions in your body.
            All foods are grouped in tables. Each such table contains information on the 
            amount of proteins, fats, carbohydrates and calories per 100 g. product.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" 
        style="background-image: url('../../../../../assets/img/2_welcome_img.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Plan your meals by the week or even the month</h2>
          <p class="lead mb-0">One of the best ways to have a healthy diet is to prepare your own food and eat in regularly. 
            Pick a few healthy recipes that you and your family like and build a meal schedule around them.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" 
        style="background-image: url('../../../../../assets/img/3_welcome_img.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Why Portion Control is Important</h2>
          <p class="lead mb-0">Your calorie intake is a key factor in weight control and health.
            By controlling your portions, you are more likely to avoid consuming too many calories.            
            While whole foods are certainly a lot harder to overeat than processed foods, they can still be eaten in excess.            
            If you are overweight or trying to lose body fat, it's particularly important to monitor your portion size.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Our approach</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../../../../../assets/img/pers_1.jpg" alt="">
            <h5>Educate</h5>
            <p class="lead mb-0">Change isn't easy but understanding the why behind making diet and 
              lifestyle changes and how it impacts your unique body and your fertility is where we begin after a 
              comprehensive nutrition assessment with an expert fertility dietitian and nutritionist.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../../../../../assets/img/pers_2.jpg" alt="">
            <h5>Empower</h5>
            <p class="lead mb-0">Now you've got the knowledge, it is time to feel empowered to take back 
              the reigns and put it into action! It can be tricky to get momentum but this is truly the benefit of having 
              a dietitian on your team to cheer you on and keep you accountable and equip you with the skills to make it happen.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../../../../../assets/img/pers_3.jpg" alt="">
            <h5>Enhance</h5>
            <p class="lead mb-0">This is where the transformation happens, following education and empowerment
               comes enhancement of your diet and lifestyle that makes a true impact on your fertility and chances of 
               conceiving as a couple. Together we continue to enhance through continuous "tweaks" to your plan to bring you
                the best results.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4 text-white">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md">
                <button type="button" class="btn btn-lg btn-outline-light" style="color: white;"
                [routerLink]="['/auth/register']" routerLinkActive="router-link-active">Sign up!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</div>