<div class="card">
  <h5 class="card-header">
    Weight Info
  </h5>
  <div class="card-body">
    <div id="weightchart">
    </div>
  </div>
  <div class="card-footer">
    <div class="form-group">
      <div class="input-group">
        <input type="number" class="form-control" [(ngModel)]="weightInfo.weightValue">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="onWeightAdd()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>