@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import 'assets/fonts/circular-std/style.css';
@import 'assets/css/style.css';

html, body {
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.input-group input {
  height: auto;
}

.input-group select {
  height: auto;
}