<div>
  <div class="row">
    <img class="img-circle mx-auto" style="max-height: 200px; max-width: 200px;" src="assets/user.jpg" alt="User Image">
  </div>
  <div class="form-group">
    <label class="col-form-label">Name</label>
    <input [(ngModel)]="profile.name" type="text" class="form-control" placeholder="Name">
  </div>
  <div class="form-group">
    <label class="col-form-label">Surname</label>
    <input [(ngModel)]="profile.surname" type="text" class="form-control" placeholder="Surname">
  </div>
  <div class="form-group">
    <label class="col-form-label">Email</label>
    <input [(ngModel)]="profile.email" type="text" class="form-control" placeholder="Email">
  </div>
</div>